<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logsDir" value="c:\logs" />
  <variable name="app" value="ocpp.stress" />
  <targets>
    <target name="asyncWrapper" xsi:Type="AsyncWrapper"
            queueLimit="20000">
      <target name="logfile" xsi:type="File"
              fileName="${var:logsDir}\${app}\v2.latest.${date:yyyy-MM-dd-HH}.log"
              layout="${longdate}|${message}"
              archiveFileName="${var:logsDir}\${app}\v2.{#####}.log"
			  archiveAboveSize="2048000"
			  archiveNumbering="DateAndSequence"
			  archiveDateFormat="yyyy.MM.dd-HH.mm"
			  concurrentWrites="true"
			  archiveOldFileOnStartup="true"
			  deleteOldFileOnStartup="false"
			  keepFileOpen="false"
			  autoFlush="true" />
    </target>

  </targets>
  <rules>
    <logger name="*" writeTo="asyncWrapper" />
  </rules>
</nlog>